<%- include('header2', {title: `Add Payee`}) -%>

<div class="container content">
  <div class="row">
    <h3 class="mb-5">Add Favourite Payee</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <form class="needs-validation" id="form-favourite-payee" novalidate action="/addedPayee" method="POST">
        <div class="row">
          <% for (const [key, value] of Object.entries(formInput)) { %>
          <div class="form-group row mb-3">
            <label for="<%=key%>" class="form-label col-md-2 mb-3"><%=value.label%></label>
            <div class="col-md-4">
              <input type="<%=value.type%>" class="form-control" id="<%=key%>" name="<%=key%>" required />
            </div>
            <% } %>
          </div>
        </div>
        <div class="error-message">
          <% if (typeof message !== 'undefined') { %>
          <p><%=message%></p>
          <% } %>
        </div>
        <button class="btn btn-class col-md-2">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- // Example starter JavaScript for disabling form submissions if there are invalid fields -->
<script>
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
